.scorecomponents__score-button-group{
  margin-top: 5%;
  @media (min-width: $mobile-portrait) {
    margin-top: 5%;
  }

  @media (min-width: $breakpoint-tablet){
    margin-top: 2%;
  }
  @media (min-width: $desktop) {
      margin-top: 1%;
  }
}